@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  @apply flex gap-2 py-3 pl-3 bg-white text-[#03B2AC] w-[250px] rounded-xl
}

.sidebar-list-item {
  @apply flex gap-2 py-2.5 pl-3 hover:bg-[#03B2AC] hover:rounded-xl mb-1 hover:w-[250px] transition-all duration-300; 
}

.table-filter {
  @apply border-[#d1d5db] border rounded-lg text-[#6b7280] px-4 py-1 text-sm outline-2 outline-slate-400 shadow;
}
